@model LCARS.ViewModels.Status

@section refresh
{
    @if (Model.IsAutoDeployEnabled)
    {
        <meta http-equiv="refresh" content="0; /Home/AutoDeploy">
    }
    else
    {
        <meta http-equiv="refresh" content="10"/>
    }
}

<div class="stats">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-2"></div>
		@foreach (var environment in Model.Tenants.First().Dependencies.First().Environments)
		{
			<div class="col-lg-1 status">@environment.Name</div>
		}
		<div class="col-lg-1"></div>
	</div>
	@foreach (var tenant in Model.Tenants)
	{
		<div class="row">
			<div class="col-lg-9 tenant"></div>
		</div>
		<div class="row">
			<div class="col-lg-2">
				@tenant.Name
			</div>
			<div class="col-lg-2">
				@foreach (var dependency in tenant.Dependencies)
				{
					<div>@dependency.Name</div>
				}
			</div>
			<div class="col-lg-6 status">
				@foreach (var dependency in tenant.Dependencies)
				{
					<div class="row">
						@foreach (var environment in dependency.Environments)
						{
							<div class="col-lg-2 status @environment.StatusColour" onclick=" updateStatus('@tenant.Name', '@dependency.Name', '@environment.Name', '@environment.Status')">@environment.Status</div>
						}
						<div class="col-lg-2 status"></div>
					</div>
				}
			</div>
		</div>
	}
</div>

@section scripts
{
	<script type="text/javascript" src="~/Scripts/statusBoard.js"></script>
}
