@model LCARS.ViewModels.Issues.Bugs
@{
    ViewBag.Title = "LCARS | Bugs";

    if (Model.IsRedAlertEnabled)
    {
        <meta http-equiv="refresh" content="0; /RedAlert?returnUrl=Issues">
    }
    else
    {
        <meta http-equiv="refresh" content="30">
    }
}
@section header {
    <link href="/Content/yellowAlert.css" rel="stylesheet" />
}

<div class="issueCount">
    <div class="row">
        <img src="~/img/softwareBug.jpg" alt="Bug"/>
        <div class="col-lg-8">
            CMS Bugs: <span>@Model.Count</span>
            <div id="timeRemaining" class="row">
                <div>
                    Days Left: <span>@Model.NumberOfWorkingDays</span>
                </div>
                <div class="hoursRemaining">
                    (Working Hours: @Model.NumberOfWorkingHours)
                </div>
            </div>
        </div>
    </div>
</div>

@*<table class="issues">
    @foreach (var issue in Model.BugList)
    {
        <tr>
            <td class="priority"><img src="@issue.PriorityIcon" alt="@issue.Priority" /></td>
            <td class="issueId">@issue.Id</td>
            <td>@issue.Summary</td>
        </tr>
    }
</table>*@