@model LCARS.ViewModels.Issues.Backlog
@{
    ViewBag.Title = "LCARS | Bugs";

    if (Model.IsRedAlertEnabled)
    {
        <meta http-equiv="refresh" content="0; /RedAlert?returnUrl=Issues">
    }
    else if (Model.AutoRefresh)
    {
        <meta http-equiv="refresh" content="30; URL=/">
    }
}
@section header {
    <link href="/Content/yellowAlert.css" rel="stylesheet" />
}

<div class="issueCount">
    <div class="row">
        <img src="~/img/softwareBug.jpg" alt="Bug" />
        <div class="col-lg-8">
            @Model.IssueSet: <span>@Model.Count</span>
            @if (Model.Deadline.HasValue)
            {
                <div id="timeRemaining" class="row">
                    <div>
                        Days Left: <span>@Model.NumberOfWorkingDays</span>
                    </div>
                    <div class="hoursRemaining">
                        (@Model.NumberOfWorkingHours hours, @Model.NumberOfWorkingMinutes minutes)
                    </div>
                </div>
            }
        </div>
    </div>
</div>