@model LCARS.ViewModels.Environments.Environments

@section refresh
{
    @if (Model.IsRedAlertEnabled)
    {
        <meta http-equiv="refresh" content="0; /RedAlert">
    }
    else
    {
        <meta http-equiv="refresh" content="10" />
    }
}

<div class="environments">
    <div class="environment">
        <div class="environment-name"></div>
        @foreach (var environment in Model.Tenants.First().Environments)
        {
            <div class="environment-status">@environment.Name</div>}
    </div>
    @foreach (var tenant in Model.Tenants)
    {
        <div class="environment">
            <div class="environment-name">
                @tenant.Name
            </div>
            @foreach (var environment in tenant.Environments)
            {
                <div class="environment-status @environment.StatusColour" onclick='updateStatus("@tenant.Name", "@environment.Name", "@environment.Status")'>@environment.Status</div>
            }
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/environments.js"></script>
}