@model LCARS.ViewModels.Settings
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "LCARS Admin | Settings";
}

@using (Html.BeginForm("Settings", "Admin"))
{
    <div class="admin-settings">
        <h2>Build Server</h2>
        <div>
            <span>Domain</span> @Html.TextBoxFor(r => r.BuildServerDomain, new { id = "buildServerDomain" })
        </div>
        <div>
            <span>Username</span> @Html.TextBoxFor(r => r.BuildServerUsername, new {id = "buildServerUsername"})
        </div>
        <div>
            <span>Password</span> @Html.TextBoxFor(r => r.BuildServerPassword, new {id = "buildServerPassword"})
        </div>
        <h2>Deployment Server</h2>
        <div>
            <span>Path</span> @Html.TextBoxFor(r => r.DeploymentServerPath, new {id = "deploymentServerPath"})
        </div>
        <div>
            <span>Key</span> @Html.TextBoxFor(r => r.DeploymentServerKey, new {id = "deploymentServerKey"})
        </div>
        <h2>Issues</h2>
        <div>
            <span>URL</span> @Html.TextBoxFor(r => r.IssuesUrl, new {id = "issuesUrl"})
        </div>
        <div>
            <span>Username</span> @Html.TextBoxFor(r => r.IssuesUsername, new {id = "issuesUsername"})
        </div>
        <div>
            <span>Password</span> @Html.TextBoxFor(r => r.IssuesPassword, new {id = "issuesPassword"})
        </div>
        <h2>GitHub</h2>
        <div>
            <span>Username</span> @Html.TextBoxFor(r => r.GitHubUsername, new { id = "gitHubUsername" })
        </div>
        <div>
            <span>Password</span> @Html.TextBoxFor(r => r.GitHubPassword, new { id = "gitHubPassword" })
        </div>
        <div class="admin-button">
            <input id="updateSettings" type="submit" value="Save" class="blue"/>
        </div>
        <div class="confirmation" style="@TempData["ShowConfirmation"]">Changes Saved Successfully</div>
        <div class="error" style="@TempData["ShowError"]">There was an error saving the changes.</div>
    </div>
}