@model IEnumerable<LCARS.ViewModels.GitHub.Repository>

<div class="github">
    <div class="row">
        <table>
            <tr>
                <th></th>
                <th class="category">Pending PRs</th>
                <th class="category">Shipped PRs</th>
                <th class="category">Branches</th>
            </tr>
            @foreach (var repository in Model)
            {
                <tr>
                    <td class="repository">@repository.Name</td>
                    <td class="category @(repository.PullRequestUnshippedCountWarning ? "red" : "")">@repository.PullRequests.Count(pr => !pr.IsShipped)</td>
                    <td class="category @(repository.PullRequestShippedCountWarning ? "red" : "")">@repository.PullRequests.Count(pr => pr.IsShipped)</td>
                    <td class="category @(repository.BranchCountWarning ? "red" : "")">@repository.Branches.Count()</td>
                </tr>
            }
        </table>
    </div>
</div>