@using LCARS.Data

@if (Data == null)
{
    <Loading />
}
else
{
    <div class="container">
        <div class="header">
            <div class="date">Date Created</div>
            <div class="repository">Repository</div>
            <div class="title">Title</div>
            <div class="author">Author</div>
            <div class="comments">Comments</div>
        </div>
        <div class="data">
            @foreach (var pr in Data)
            {
                <div class="date">@pr.CreatedOn</div>
                <div class="repository">@pr.Repository</div>
                <div class="title">@pr.Title</div>
                <div class="author">@pr.Author</div>
                <div class="comments">@pr.CommentCount</div>
            }
        </div>
        <div class="footer"></div>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<PullRequest>? Data { get; set; }
}