<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("refresh", false)
    <title>LCARS Admin</title>
    @Styles.Render("~/Content/admin")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 yellow template-top-left">
            &nbsp;
        </div>
        <div class="col-lg-2 template-text">
            LCARS ADMIN
        </div>
        <div class="col-lg-1 yellow template-top-right">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="row">
                <div class="yellow template-menu-buffer-top">
                    &nbsp;
                </div>
                <div class="blue template-menu">
                    Screens
                </div>
                <div class="red template-menu">
                    Environments
                </div>
                <div class="blue template-menu">
                    Builds
                </div>
                <div class="apricot template-menu">
                    Deployments
                </div>
                <div class="red template-menu">
                    Issues
                </div>
                <div class="blue template-menu">
                    <a href="/Admin/6">Red Alert</a>
                </div>
                <div class="apricot template-menu">
                    <a href="/Admin/7">Settings</a>
                </div>
                <div class="yellow template-menu-buffer-bottom">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="row">
                <div class="template-menu-buffer-top">
                    &nbsp;
                </div>
                <div id="template-menu-1" class="blue template-menu-selected">
                    &nbsp;
                </div>
                <div id="template-menu-2" class="red template-menu-selected">
                    &nbsp;
                </div>
                <div id="template-menu-3" class="blue template-menu-selected">
                    &nbsp;
                </div>
                <div id="template-menu-4" class="apricot template-menu-selected">
                    &nbsp;
                </div>
                <div id="template-menu-5" class="red template-menu-selected">
                    &nbsp;
                </div>
                <div id="template-menu-6" class="blue template-menu-selected">
                    &nbsp;
                </div>
                <div id="template-menu-7" class="apricot template-menu-selected">
                    &nbsp;
                </div>
                <div class="template-menu-buffer-bottom">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-9 white-text">
            @RenderBody()
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 yellow template-bottom-left">
            &nbsp;
        </div>
        <div class="col-lg-2 template-text">
            @DateTime.Now.ToString("dd-MM-yyyy")
        </div>
        <div class="col-lg-6 yellow template-bottom-right">
            &nbsp;
        </div>
    </div>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script>
        $(".template-menu-selected").removeClass().addClass("template-menu-selected");
        $("#template-menu-@((int) TempData["menuId"])").addClass("@(TempData["menuColor"])");
    </script>
    <script type="text/javascript" src="~/Scripts/admin.js"></script>
    @RenderSection("scripts", false)
</body>
</html>